
@{
    ViewBag.Title = Chimper.Resources.Resource.Work;
}

@RenderPage("~/Views/Shared/_Cover.cshtml")

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_1.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 1</h2>
                        <span class="category">Web Application</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_2.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 2</h2>
                        <span class="category">Branding</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_3.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 3</h2>
                        <span class="category">Website</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_4.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 4</h2>
                        <span class="category">Web Application</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_5.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 5</h2>
                        <span class="category">Branding</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_6.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 6</h2>
                        <span class="category">Website</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_1.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 1</h2>
                        <span class="category">Web Application</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_2.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 2</h2>
                        <span class="category">Branding</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_3.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 3</h2>
                        <span class="category">Website</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_4.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 4</h2>
                        <span class="category">Web Application</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_5.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 5</h2>
                        <span class="category">Branding</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="media-1">
                    <img src="~/Public/images/img_6.jpg" alt="Image" class="img-fluid">
                    <div class="media-1-content">
                        <h2>Project Name 6</h2>
                        <span class="category">Website</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
@RenderPage("~/Views/Shared/_Testimonials.cshtml")
